
.test {
    width: 200px;
    font-size: 25px;
    font-weight: bold;
}

.green {
    background-color: #add8e6;
    font-size: 15px;
    font-weight: bold;
}

.red {
    font-size: 15px;
    font-weight: bold;
}

.blue {
    background-color: #add8e6;
    font-size: 15px;
    font-weight: bold;
}